// Import Bootstrap variables for use within theme
@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";


/*------------------------- navigation variables -------------------------*/

// Spacing variables for navigation
$topnav-base-height: 56px;
$sidenav-base-width: 225px;
// Z index variables
$zindex-topnav: 1090 !default;
