<app-navigation (featureSelected)="onNavigate($event)"></app-navigation>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <p>aaaa</p>
  </div>
  <div id="layoutSidenav_content">
      <main>
          <div class="container-fluid">
            <app-dashboard *ngIf="loadedFeature === 'dashboard'"></app-dashboard>
            <app-historical-user *ngIf="loadedFeature === 'historical-user'"></app-historical-user>
          </div>
      </main>
      <app-footer></app-footer>
  </div>
</div>